* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

html {
  font-size: 18px; }

@font-face {
  font-family: CenturyLT-BookItalic;
  src: url(../Font/itc-century-lt-book-italic.woff); }
body {
  font-family: "myriad-pro-condensed",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal; }

p,
.field-label,
li {
  font-size: 1.2em;
  color: #477f80; }

a {
  font-weight: normal;
  font-weight: #477f80;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #e6811d; }

a.svg {
  position: relative;
  display: inline-block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

li {
  padding-bottom: 10px; }

h1,
h2,
h3 {
  font-weight: normal; }

#main-wrapper {
  position: relative;
  min-height: 500px; }

.front #main-wrapper {
  min-height: inherit; }

#content {
  padding: 50px 10px;
  max-width: 940px;
  margin: 0 auto;
  min-height: 200px; }
  #content h1 {
    color: #477f80;
    font-size: 4.5em;
    line-height: 1em;
    padding-bottom: 20px; }
  #content a {
    text-decoration: none;
    color: #477f80; }
    #content a:hover {
      text-decoration: underline;
      color: #e6811d; }
  #content p {
    padding-bottom: 10px;
    font-size: 18px; }
  #content h2,
  #content .view-patient-resources .view-content > h3 {
    color: #477f80;
    font-size: 2.5em; }
  #content h2.orange-color {
    color: #e6811d; }
  #content h3 {
    padding-bottom: 10px; }
  #content h3,
  #content .view-our-team .views-field-title {
    font-size: 1.8em;
    color: #477f80; }
  #content img {
    border-radius: 10px; }
  #content > div {
    position: relative; }
  #content a.button {
    padding: 5px;
    display: block;
    background: #e6811d;
    min-width: 150px;
    color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px; }
    #content a.button:hover {
      background: #492853; }

#content p,
.block p,
.views-row p {
  font-size: 1.2em; }

#header > div {
  position: relative; }

#logo {
  position: relative; }

#text-resize {
  position: absolute;
  right: 20px;
  top: 45px;
  font-weight: bold;
  margin-top: -10px;
  z-index: 999; }
  #text-resize p {
    color: white;
    cursor: pointer;
    font-size: 26px; }

.clear:after {
  clear: both;
  content: "";
  display: table; }

#header {
  background: url(../images/header-bg.png);
  background-repeat: repeat no-repeat;
  background-position-x: 78%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 99; }

#block-system-main-menu,
#logo,
#block-menu-menu-footer-menu > .content,
#site-by,
#ministry-logo {
  max-width: 940px;
  margin: 0 auto;
  padding: 15px 10px 0px; }

#site-by {
  color: white;
  font-size: 14px; }
  #site-by a {
    color: white; }

#header > div > div,
#block-menu-menu-footer-menu > .content > div {
  position: relative; }
#header > div li,
#block-menu-menu-footer-menu > .content li {
  list-style: none; }
  #header > div li a,
  #block-menu-menu-footer-menu > .content li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0px 15px 10px;
    font-size: 22px;
    color: white;
    line-height: 0.8em; }
    #header > div li a span,
    #block-menu-menu-footer-menu > .content li a span {
      max-width: 137px;
      display: inline-block; }
#header > div li.leaf,
#block-menu-menu-footer-menu > .content li.leaf {
  padding: 0px; }
#header > div ul.menu li,
#block-menu-menu-footer-menu > .content ul.menu li {
  margin: 0px; }

#block-system-main-menu {
  padding-top: 0px; }
  #block-system-main-menu .content > .menu > li:hover > a:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e6811d;
    width: 100%;
    height: 0px;
    position: absolute;
    margin: 0 auto;
    bottom: 0px;
    left: 0; }
  #block-system-main-menu .content > .menu > li > a {
    padding: 0px 12px 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-top: 15px; }
  #block-system-main-menu #menu-hpr .first-word,
  #block-system-main-menu #menu-pr .first-word {
    font-size: 22px; }
  #block-system-main-menu #menu-pr span {
    width: 92px; }

#block-system-main-menu,
#block-menu-menu-footer-menu {
  clear: both; }
  #block-system-main-menu .content > .menu > li > a,
  #block-menu-menu-footer-menu .content > .menu > li > a {
    position: relative; }
  #block-system-main-menu ul.menu,
  #block-menu-menu-footer-menu ul.menu {
    position: relative; }
  #block-system-main-menu li,
  #block-menu-menu-footer-menu li {
    display: inline-block; }
    #block-system-main-menu li a:before,
    #block-menu-menu-footer-menu li a:before {
      content: "";
      display: inline-block;
      position: relative;
      bottom: -4px;
      padding-right: 5px; }
    #block-system-main-menu li a span:nth-letter(odd),
    #block-menu-menu-footer-menu li a span:nth-letter(odd) {
      font-size: 14px; }
  #block-system-main-menu li.expanded,
  #block-menu-menu-footer-menu li.expanded {
    padding: 0px; }
    #block-system-main-menu li.expanded > a,
    #block-menu-menu-footer-menu li.expanded > a {
      background-image: url(../images/icons/polygon-icon.png);
      background-repeat: no-repeat;
      background-position: right center; }
    #block-system-main-menu li.expanded ul.menu,
    #block-menu-menu-footer-menu li.expanded ul.menu {
      z-index: 99;
      display: none;
      background: white; }
      #block-system-main-menu li.expanded ul.menu li,
      #block-menu-menu-footer-menu li.expanded ul.menu li {
        display: block;
        float: none;
        border-bottom: 1px solid #477f80; }
        #block-system-main-menu li.expanded ul.menu li:before,
        #block-menu-menu-footer-menu li.expanded ul.menu li:before {
          display: none; }
        #block-system-main-menu li.expanded ul.menu li a,
        #block-menu-menu-footer-menu li.expanded ul.menu li a {
          color: #477f80;
          padding: 10px 30px 10px 10px; }
          #block-system-main-menu li.expanded ul.menu li a:hover,
          #block-menu-menu-footer-menu li.expanded ul.menu li a:hover {
            color: white;
            background: #e6811d; }
    #block-system-main-menu li.expanded:hover ul.menu,
    #block-menu-menu-footer-menu li.expanded:hover ul.menu {
      display: block;
      position: absolute; }
  #block-system-main-menu a#menu-about:before,
  #block-menu-menu-footer-menu a#menu-about:before {
    content: url("../images/icons/about-icon.png"); }
  #block-system-main-menu a#menu-physicians:before,
  #block-menu-menu-footer-menu a#menu-physicians:before {
    content: url("../images/icons/physician-icon.png"); }
  #block-system-main-menu #menu-calendar:before,
  #block-menu-menu-footer-menu #menu-calendar:before {
    content: url("../images/icons/calendar-icon-small.png"); }
  #block-system-main-menu #menu-pr:before,
  #block-menu-menu-footer-menu #menu-pr:before {
    content: url("../images/icons/books-icon.png"); }
  #block-system-main-menu #menu-hpr:before,
  #block-menu-menu-footer-menu #menu-hpr:before {
    content: url("../images/icons/computer-icon.png"); }
  #block-system-main-menu #menu-contact:before,
  #block-menu-menu-footer-menu #menu-contact:before {
    content: url("../images/icons/phone-icon.png"); }
  #block-system-main-menu #program-services-mb:before,
  #block-menu-menu-footer-menu #program-services-mb:before {
    content: url("../images/icons/program-icon-small.png"); }

.front #content {
  display: none; }

.backbg {
  background-size: cover; }

#block-views-banner-block .views-field-body {
  max-width: 760px;
  color: white;
  font-size: 18px;
  padding: 50px 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background: rgba(105, 58, 119, 0.8);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  #block-views-banner-block .views-field-body p {
    color: white; }
  #block-views-banner-block .views-field-body h2 {
    font-size: 62px;
    font-weight: normal; }
#block-views-banner-block .views-field-field-image-banner {
  height: 500px; }
#block-views-banner-block .backbg {
  height: 500px; }
#block-views-banner-block .views-row {
  height: 500px; }
#block-views-banner-block .field-content {
  max-width: 572px;
  margin: 0 auto; }

.views-field-field-image-banner {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -9; }

.views-row {
  position: relative; }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border: 0px;
  background: transparent;
  color: transparent;
  width: 30px;
  height: 54px;
  cursor: pointer; }

#header {
  background-position: calc(64% - 98px) 1px; }

.slick-next {
  right: 25px;
  background: url(../images/icons/arrow-icon.png) no-repeat; }

.slick-prev {
  left: 25px;
  background: url(../images/icons/left-arrow-icon.png) no-repeat; }

#action-blocks {
  overflow: hidden;
  height: 356px;
  position: relative;
  border-top: 8px solid #477f80;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3); }
  #action-blocks .backbg {
    height: 354px;
    background-position: center; }
  #action-blocks .block-body {
    position: absolute;
    top: 0px;
    width: 100%; }
  #action-blocks .block-imageblock {
    width: 33%;
    float: left;
    list-style: none;
    width: 33.33%;
    position: relative; }
    #action-blocks .block-imageblock .block-body a {
      display: block;
      padding: 100px 0px;
      color: white;
      line-height: 1em; }
      #action-blocks .block-imageblock .block-body a > span {
        padding: 30px;
        background: rgba(230, 129, 29, 0.8);
        border-radius: 0px 5px 5px 0px;
        display: inline-block;
        min-width: 290px;
        line-height: 1.3em;
        font-size: 36px; }
        #action-blocks .block-imageblock .block-body a > span:before {
          content: "";
          float: left;
          padding-right: 20px;
          vertical-align: middle;
          display: inline-block;
          width: 90px;
          height: 88px;
          margin-top: 8px; }
        #action-blocks .block-imageblock .block-body a > span span {
          display: block;
          font-size: 65px;
          font-weight: normal; }
      #action-blocks .block-imageblock .block-body a h2 {
        border-bottom: 0px; }
      #action-blocks .block-imageblock .block-body a:hover > span {
        background: rgba(105, 58, 119, 0.8); }
  #action-blocks #block-imageblock-1 a > span:before {
    content: "";
    background: url(../images/icons/star-icon.png) no-repeat; }
  #action-blocks #block-imageblock-2 a > span:before {
    content: "";
    background: url(../images/icons/program-icon.png) no-repeat;
    width: 77px; }
  #action-blocks #block-imageblock-3 a > span:before {
    content: "";
    background: url(../images/icons/calendar-icon.png) no-repeat; }

#block-menu-menu-footer-menu > .content ul.menu li {
  margin-left: -2px; }
  #block-menu-menu-footer-menu > .content ul.menu li a {
    font-size: 19px;
    padding: 0px 4px;
    padding-right: 8px; }

#footer {
  background-color: #477f80;
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: calc(-1200px + 100px) 82px;
  padding: 20px 0px 40px;
  width: 100%; }
  #footer ul.menu {
    border-bottom: 1px solid white;
    padding-bottom: 10px; }
    #footer ul.menu a {
      border-right: 1px solid white;
      padding-bottom: 0px;
      line-height: 0.8em; }
    #footer ul.menu li:last-child a {
      border-right: 0px; }

#block-menu-menu-inner-sub-menu li a {
  color: black !important; }

#ministry-logo {
  text-align: right; }

#block-views-program-services-block-1 .view-program-services .views-row {
  margin: 0px;
  width: 14.28%;
  border-radius: 0px; }
  #block-views-program-services-block-1 .view-program-services .views-row .field-content > div {
    width: 100%; }
  #block-views-program-services-block-1 .view-program-services .views-row a {
    border-right: 1px solid white; }
  #block-views-program-services-block-1 .view-program-services .views-row:last-child a {
    border-right: 0px; }

.view-program-services-listing .views-row {
  height: 450px;
  width: 450px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1); }
  .view-program-services-listing .views-row img {
    width: 450px; }
  .view-program-services-listing .views-row a {
    padding: 0px; }
  .view-program-services-listing .views-row:hover .field-content div > span {
    background: rgba(105, 58, 119, 0.8); }
  .view-program-services-listing .views-row:hover {
    background: none; }
  .view-program-services-listing .views-row .field-content div > span {
    position: absolute;
    z-index: 9999;
    color: white;
    top: 0;
    text-align: left;
    padding: 0px 30px;
    background: rgba(230, 129, 29, 0.8);
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    top: 34%;
    left: 0px;
    min-width: 230px;
    height: 140px;
    font-size: 68px;
    display: block;
    padding-top: 20px;
    line-height: 0.7em; }
  .view-program-services-listing .views-row .first-word {
    font-size: 32px;
    display: block; }
  .view-program-services-listing .views-row .single-word {
    padding-top: 50px;
    display: block; }

#block-views-program-services-detail-block {
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

#block-views-program-services-detail-block.open {
  height: auto;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

.view-program-services-listing.close {
  height: 0px;
  -webkit-transition: height 2s; }

#block-views-program-services-detail-block {
  position: relative;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  text-align: center; }
  #block-views-program-services-detail-block .view-program-services-detail {
    border-bottom: 0px;
    color: white; }
    #block-views-program-services-detail-block .view-program-services-detail .view-header,
    #block-views-program-services-detail-block .view-program-services-detail .view-footer {
      top: 50%; }
    #block-views-program-services-detail-block .view-program-services-detail img {
      border-radius: 150px;
      outline: 1px solid transparent;
      padding: 3px;
      position: relative;
      bottom: -150px;
      background: white; }
    #block-views-program-services-detail-block .view-program-services-detail .views-field-nothing {
      position: absolute;
      color: transparent;
      font-size: 0px;
      padding-top: 30px;
      right: 20%;
      width: 30px;
      height: 30px; }
    #block-views-program-services-detail-block .view-program-services-detail .views-field-nothing-1 {
      margin-top: 150px;
      padding-bottom: 40px; }
    #block-views-program-services-detail-block .view-program-services-detail .views-row {
      float: left; }
    #block-views-program-services-detail-block .view-program-services-detail .view-content {
      position: relative; }
    #block-views-program-services-detail-block .view-program-services-detail .close {
      display: block;
      width: 30px;
      height: 30px; }

#search-block-form {
  float: right;
  position: relative;
  top: 20px;
  margin-right: 50px; }
  #search-block-form input {
    border: 0px;
    padding: 5px;
    border-radius: 35px;
    width: 200px;
    font-size: 20px; }
  #search-block-form input.form-submit {
    border: 0px;
    background: transparent;
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../images/icons/search-icon.png) no-repeat right;
    margin-right: 10px;
    width: 20px; }

#contact-details {
  top: -65px;
  position: relative;
  overflow: hidden; }
  #contact-details h2 {
    padding-bottom: 10px; }
  #contact-details p {
    font-size: 24px;
    color: #477f80;
    padding-bottom: 10px; }
  #contact-details + h2 {
    clear: left;
    border-top: 1px solid #cdcdcd;
    margin-top: 50px;
    padding-top: 20px; }

.webform-client-form-8,
.webform-client-form {
  width: 70%;
  float: left;
  /* firefox 19+ */
  /* ie */ }
  .webform-client-form-8 input,
  .webform-client-form-8 textarea,
  .webform-client-form input,
  .webform-client-form textarea {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #ccc; }
  .webform-client-form-8 .form-item,
  .webform-client-form .form-item {
    margin: 0px; }
  .webform-client-form-8 .webform-component-textarea,
  .webform-client-form .webform-component-textarea {
    padding-top: 30px;
    clear: left;
    max-width: 624px; }
    .webform-client-form-8 .webform-component-textarea + p,
    .webform-client-form .webform-component-textarea + p {
      display: none; }
  .webform-client-form-8 ::-webkit-input-placeholder,
  .webform-client-form ::-webkit-input-placeholder {
    color: #9b9b9b;
    font-size: 20px; }
  .webform-client-form-8 ::-moz-placeholder,
  .webform-client-form ::-moz-placeholder {
    color: #9b9b9b;
    font-size: 20px; }
  .webform-client-form-8 :-ms-input-placeholder,
  .webform-client-form :-ms-input-placeholder {
    color: #9b9b9b;
    font-size: 20px; }
  .webform-client-form-8 input:-moz-placeholder,
  .webform-client-form input:-moz-placeholder {
    color: #9b9b9b;
    font-size: 20px; }
  .webform-client-form-8 .webform-submit,
  .webform-client-form .webform-submit {
    color: white;
    font-size: 20px;
    border: 0px;
    width: 200px;
    padding: 5px;
    margin-top: 20px;
    background: #e6811d;
    -webkit-appearance: none;
    cursor: pointer; }
  .webform-client-form-8 input,
  .webform-client-form input {
    width: 278px;
    margin-right: 20px; }

.webform-client-form .webform-component-email,
.webform-client-form .webform-component-textfield {
  float: none;
  margin: 20px 0px; }

.webform-client-form-8 .webform-component-textfield,
.webform-client-form-8 .webform-component-email {
  float: left;
  margin: 0px; }

#location1,
#location2,
#location3 {
  color: #9b9b9b;
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
  clear: left;
  border-bottom: 1px solid #cdcdcd;
  padding: 0 0 20px;
  overflow: hidden;
  margin-bottom: 20px; }
  #location1 h3,
  #location2 h3,
  #location3 h3 {
    padding-bottom: 10px; }
  #location1 .inner-loc,
  #location2 .inner-loc,
  #location3 .inner-loc {
    width: 30%;
    float: left; }

#location1 .phone:before,
#location1 .fax:before,
#location1 .loc:before,
#location1 .phy-help:before,
#location1 .phy-accepting:before,
#location2 .phone:before,
#location2 .fax:before,
#location2 .loc:before,
#location2 .phy-help:before,
#location2 .phy-accepting:before,
#location3 .phone:before,
#location3 .fax:before,
#location3 .loc:before,
#location3 .phy-help:before,
#location3 .phy-accepting:before,
.view-physicians .phone:before,
.view-physicians .fax:before,
.view-physicians .loc:before,
.view-physicians .phy-help:before,
.view-physicians .phy-accepting:before,
.view-accepting-new-patients .phone:before,
.view-accepting-new-patients .fax:before,
.view-accepting-new-patients .loc:before,
.view-accepting-new-patients .phy-help:before,
.view-accepting-new-patients .phy-accepting:before {
  float: left;
  padding-right: 10px;
  padding-top: 5px; }
#location1 .phy-accepting,
#location2 .phy-accepting,
#location3 .phy-accepting,
.view-physicians .phy-accepting,
.view-accepting-new-patients .phy-accepting {
  color: #e6811d;
  font-weight: bold; }
#location1 .phone,
#location1 .phy-accepting,
#location2 .phone,
#location2 .phy-accepting,
#location3 .phone,
#location3 .phy-accepting,
.view-physicians .phone,
.view-physicians .phy-accepting,
.view-accepting-new-patients .phone,
.view-accepting-new-patients .phy-accepting {
  clear: left; }
#location1 .loc p,
#location1 .phy-help p,
#location2 .loc p,
#location2 .phy-help p,
#location3 .loc p,
#location3 .phy-help p,
.view-physicians .loc p,
.view-physicians .phy-help p,
.view-accepting-new-patients .loc p,
.view-accepting-new-patients .phy-help p {
  float: left;
  font-size: 22px; }
#location1 .loc p,
#location2 .loc p,
#location3 .loc p,
.view-physicians .loc p,
.view-accepting-new-patients .loc p {
  max-width: 200px; }
#location1 .phone:before,
#location2 .phone:before,
#location3 .phone:before,
.view-physicians .phone:before,
.view-accepting-new-patients .phone:before {
  content: url(../images/icons/phone-icon1.png); }
#location1 .fax:before,
#location2 .fax:before,
#location3 .fax:before,
.view-physicians .fax:before,
.view-accepting-new-patients .fax:before {
  content: url(../images/icons/fax-icon.png); }
#location1 .loc:before,
#location2 .loc:before,
#location3 .loc:before,
.view-physicians .loc:before,
.view-accepting-new-patients .loc:before {
  content: url(../images/icons/marker-loc-icon.png); }
#location1 .phy-help:before,
#location2 .phy-help:before,
#location3 .phy-help:before,
.view-physicians .phy-help:before,
.view-accepting-new-patients .phy-help:before {
  content: url(../images/icons/plus-sign-icon.png); }
#location1 .phy-accepting:before,
#location2 .phy-accepting:before,
#location3 .phy-accepting:before,
.view-physicians .phy-accepting:before,
.view-accepting-new-patients .phy-accepting:before {
  content: url(../images/icons/new-patient-icon.png); }
#location1 .phy-help,
#location2 .phy-help,
#location3 .phy-help,
.view-physicians .phy-help,
.view-accepting-new-patients .phy-help {
  padding-top: 10px; }

#map1,
#map2,
#map3 {
  float: right;
  width: 60%;
  height: 340px;
  border-radius: 10px; }

.page-calendar #colorbox {
  z-index: 9999999; }
  .page-calendar #colorbox h1#page-title {
    font-size: 38px; }
  .page-calendar #colorbox #content {
    padding: 10px; }
.page-calendar #node-9 span,
.page-calendar #node-9 .field-item {
  color: #477f80; }
.page-calendar #node-9 .field-type-text-with-summary .field-items {
  max-width: 75%; }
.page-calendar .fc-today {
  background: #492853; }
  .page-calendar .fc-today .fc-day-number {
    color: white; }
.page-calendar .fc td {
  color: #477f80; }
.page-calendar .fc-event-inner,
.page-calendar .fc-event-time,
.page-calendar .fc-event-default {
  background: #e6811d;
  border-color: #e6811d;
  border-style: none; }
.page-calendar .fc-event-default {
  padding: 2px 5px; }
.page-calendar .fc-event-time, .page-calendar .fc-event-title,
.page-calendar .fc-event-default {
  font-size: 12px; }

#cboxOverlay {
  background: rgba(0, 0, 0, 0.5); }

.node-calendar .field-name-field-category-cal,
.node-calendar .field-name-field-subcategory {
  display: none; }
.node-calendar .field-label {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100px; }

#block-block-5,
#block-block-6,
.field-type-entityreference {
  display: none; }

#block-block-6 {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 9999999; }

#content #button-links {
  text-align: center; }
  #content #button-links a.button {
    display: inline-block;
    margin: 20px; }

.node-program-services .field-name-field-category {
  display: none; }

.page-node-147 #page-title {
  color: black; }
.page-node-147 #block-system-main h1, .page-node-147 #block-system-main h2, .page-node-147 #block-system-main h3, .page-node-147 #block-system-main p, .page-node-147 #block-system-main a, .page-node-147 #block-system-main li {
  color: black; }
.page-node-147 #block-system-main a:hover {
  color: #e6811d; }

.view-program-services .views-row,
.view-program-services-listing .views-row {
  background: #477f80;
  float: left;
  margin: 20px 20px 0px 0px;
  text-align: center;
  border-radius: 5px; }
  .view-program-services .views-row:hover,
  .view-program-services-listing .views-row:hover {
    background: #693a77; }
  .view-program-services .views-row .field-content > div,
  .view-program-services-listing .views-row .field-content > div {
    display: table;
    height: 190px; }
  .view-program-services .views-row a,
  .view-program-services-listing .views-row a {
    display: table-cell;
    padding: 0px 20px;
    vertical-align: middle;
    width: 160px;
    color: white;
    font-size: 22px;
    text-decoration: none; }
    .view-program-services .views-row a span:first-child,
    .view-program-services-listing .views-row a span:first-child {
      padding-top: 0px; }
    .view-program-services .views-row a span,
    .view-program-services-listing .views-row a span {
      display: block;
      padding-top: 20px; }
.view-program-services .views-row:last-child,
.view-program-services-listing .views-row:last-child {
  margin-right: 0px; }

#block-views-program-services-block-1 .view-program-services .views-row {
  margin: 0px;
  width: 14.28%;
  border-radius: 0px; }
  #block-views-program-services-block-1 .view-program-services .views-row .field-content > div {
    width: 100%; }
  #block-views-program-services-block-1 .view-program-services .views-row a {
    border-right: 1px solid white; }
  #block-views-program-services-block-1 .view-program-services .views-row:last-child a {
    border-right: 0px; }

.view-program-services-listing .view-content {
  text-align: center; }
.view-program-services-listing .views-row {
  height: 450px;
  width: 450px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1); }
  .view-program-services-listing .views-row img {
    width: 450px; }
  .view-program-services-listing .views-row a {
    padding: 0px; }
  .view-program-services-listing .views-row:hover .field-content div > span {
    background: rgba(105, 58, 119, 0.8); }
  .view-program-services-listing .views-row:hover {
    background: none; }
  .view-program-services-listing .views-row .field-content div > span {
    position: absolute;
    z-index: 9999;
    color: white;
    top: 0;
    text-align: left;
    padding: 0px 30px;
    background: rgba(230, 129, 29, 0.8);
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    top: 34%;
    left: 0px;
    min-width: 230px;
    height: 140px;
    font-size: 68px;
    display: block;
    padding-top: 20px;
    line-height: 0.7em; }
  .view-program-services-listing .views-row .first-word {
    font-size: 32px;
    display: block; }
  .view-program-services-listing .views-row .single-word {
    padding-top: 50px;
    display: block; }

#block-views-program-services-detail-block {
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

#block-views-program-services-detail-block.open {
  height: auto;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

.view-program-services-listing.close {
  height: 0px;
  -webkit-transition: height 2s; }

#content .view-program-services,
.view-program-services-listing,
.view-program-sub-category {
  overflow: hidden; }
  #content .view-program-services .views-row,
  .view-program-services-listing .views-row,
  .view-program-sub-category .views-row {
    background: #477f80;
    display: inline-block;
    float: none;
    margin: 20px 15px 0px 0px;
    text-align: center;
    border-radius: 5px; }
    #content .view-program-services .views-row:hover,
    .view-program-services-listing .views-row:hover,
    .view-program-sub-category .views-row:hover {
      background: #693a77; }
    #content .view-program-services .views-row .field-content > div,
    .view-program-services-listing .views-row .field-content > div,
    .view-program-sub-category .views-row .field-content > div {
      display: table;
      height: 190px; }
    #content .view-program-services .views-row a,
    .view-program-services-listing .views-row a,
    .view-program-sub-category .views-row a {
      display: table-cell;
      padding: 0px 20px;
      vertical-align: middle;
      width: 160px;
      color: white;
      font-size: 22px;
      text-decoration: none; }
      #content .view-program-services .views-row a span,
      .view-program-services-listing .views-row a span,
      .view-program-sub-category .views-row a span {
        display: block;
        padding-top: 20px; }

#block-views-program-services-block-1 .views-row.active {
  background: #693a77; }
  #block-views-program-services-block-1 .views-row.active:after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #693a77 transparent transparent transparent;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }

#block-views-program-services-block-1 .view-program-services .views-row {
  margin: 0px;
  width: 12.5%;
  border-radius: 0px; }
  #block-views-program-services-block-1 .view-program-services .views-row .field-content > div {
    width: 100%; }
  #block-views-program-services-block-1 .view-program-services .views-row a {
    border-right: 1px solid white;
    padding: 0 5px; }
  #block-views-program-services-block-1 .view-program-services .views-row:last-child a {
    border-right: 0px; }

.view-program-services-listing .views-row,
.view-program-sub-category .views-row {
  max-width: 450px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1); }
  .view-program-services-listing .views-row img,
  .view-program-sub-category .views-row img {
    width: 100%;
    margin: 0px;
    min-width: 448px; }
  .view-program-services-listing .views-row a,
  .view-program-sub-category .views-row a {
    padding: 0px;
    width: auto;
    margin-bottom: -5px;
    display: block; }
  .view-program-services-listing .views-row:hover .field-content div > span,
  .view-program-sub-category .views-row:hover .field-content div > span {
    background: rgba(105, 58, 119, 0.8); }
  .view-program-services-listing .views-row:hover,
  .view-program-sub-category .views-row:hover {
    background: none; }
  .view-program-services-listing .views-row .field-content div > span,
  .view-program-sub-category .views-row .field-content div > span {
    position: absolute;
    z-index: 9;
    color: white;
    top: 0;
    text-align: left;
    padding: 30px 30px;
    background: rgba(230, 129, 29, 0.8);
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    top: 50%;
    top: 30% \9;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0px;
    width: 230px;
    font-size: 68px;
    display: block;
    line-height: 1em; }
  .view-program-services-listing .views-row .first-word,
  .view-program-sub-category .views-row .first-word {
    font-size: 32px;
    display: block;
    padding-top: 0px;
    line-height: 1em; }
  .view-program-services-listing .views-row .single-word,
  .view-program-sub-category .views-row .single-word {
    padding-top: 50px;
    display: block; }

#block-views-program-services-detail-block {
  height: 0px;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

#block-views-program-services-detail-block.open {
  height: auto;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s; }

.view-program-sub-category.close {
  height: 0px;
  -webkit-transition: height 2s; }

.view-our-team .views-row,
.view-physicians .views-row,
.view-accepting-new-patients .views-row {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden; }
  .view-our-team .views-row .views-field-title,
  .view-physicians .views-row .views-field-title,
  .view-accepting-new-patients .views-row .views-field-title {
    background: url(../images/icons/polygon-down-icon.png) no-repeat right center;
    cursor: pointer; }
  .view-our-team .views-row .views-field-title.open,
  .view-our-team .views-row h3.open,
  .view-physicians .views-row .views-field-title.open,
  .view-physicians .views-row h3.open,
  .view-accepting-new-patients .views-row .views-field-title.open,
  .view-accepting-new-patients .views-row h3.open {
    background: url(../images/icons/polygon-up-icon.png) no-repeat right center; }
.view-our-team .views-field-body-1.close,
.view-physicians .views-field-body-1.close,
.view-accepting-new-patients .views-field-body-1.close {
  display: none; }
.view-our-team .views-field-body.open,
.view-physicians .views-field-body.open,
.view-accepting-new-patients .views-field-body.open {
  height: auto; }

.view-our-team .views-field-body {
  display: none;
  overflow: hidden; }

.page-node-14 h2 {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px; }
.page-node-14 #block-block-1 h2 {
  border-bottom: 0px; }

.view-accepting-new-patients {
  margin-bottom: 50px; }

.view-physicians .views-field-body,
.view-accepting-new-patients .views-field-body,
.view-patient-resources .views-field-body {
  display: none;
  overflow: hidden;
  padding-top: 10px; }
.view-physicians .map,
.view-accepting-new-patients .map,
.view-patient-resources .map {
  border-radius: 10px; }
.view-physicians .views-field-field-latitude,
.view-physicians .views-field-field-longitude,
.view-accepting-new-patients .views-field-field-latitude,
.view-accepting-new-patients .views-field-field-longitude,
.view-patient-resources .views-field-field-latitude,
.view-patient-resources .views-field-field-longitude {
  display: none; }
.view-physicians p,
.view-accepting-new-patients p,
.view-patient-resources p {
  color: #9b9b9b; }
.view-physicians .name-map,
.view-accepting-new-patients .name-map,
.view-patient-resources .name-map {
  float: left;
  width: 50%; }
  .view-physicians .name-map iframe,
  .view-accepting-new-patients .name-map iframe,
  .view-patient-resources .name-map iframe {
    width: 100% !important;
    height: 300px; }
.view-physicians .phy-details,
.view-accepting-new-patients .phy-details,
.view-patient-resources .phy-details {
  float: right;
  width: 48%; }

.view-physicians .view-content h3,
.view-accepting-new-patients .view-content h3,
.view-patient-resources .container-outer > h3 {
  padding-bottom: 0px !important;
  background: url(../images/icons/polygon-down-icon.png) no-repeat right center;
  cursor: pointer; }
  .view-physicians .view-content h3.open,
  .view-accepting-new-patients .view-content h3.open,
  .view-patient-resources .container-outer > h3.open {
    background: url(../images/icons/polygon-up-icon.png) no-repeat right center; }

#block-views-program-services-block-1.menu-fixed {
  position: fixed;
  width: 100%;
  top: 0px; }
  #block-views-program-services-block-1.menu-fixed .view-program-services .views-row a span {
    padding-top: 0px; }
  #block-views-program-services-block-1.menu-fixed .view-program-services .views-row .field-content > div {
    height: 140px; }

.view-our-partners .view-content {
  text-align: center; }
.view-our-partners .views-row {
  display: inline-block;
  padding: 0 15px 1.8em 0;
  text-align: center;
  min-width: 200px; }
  .view-our-partners .views-row img {
    border-radius: 0px;
    max-width: 180px !important;
    height: auto !important;
    vertical-align: middle; }
.view-our-partners img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }
.view-our-partners img:hover {
  filter: none;
  -webkit-filter: grayscale(0%); }

#services-nav {
  position: absolute;
  top: 30px;
  right: 0px;
  overflow: hidden; }
  #services-nav a span {
    font-size: 16px; }
  #services-nav a {
    font-size: 24px;
    line-height: 1em;
    padding-bottom: 10px;
    max-width: 150px; }
  #services-nav a.next {
    right: 0px;
    float: right;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    padding-right: 25px;
    background: url(../images/icons/right-arrow-orange.png) no-repeat right 21px; }
  #services-nav a.prev {
    right: 125px;
    text-align: right;
    float: left;
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    display: inline-block;
    padding-left: 25px;
    background: url(../images/icons/left-arrow-orange.png) no-repeat left 21px; }

.view-health-care-providers .views-field-field-logo,
.view-health-care-providers .views-field-field-logo-pt-resources,
.view-patient-resources .views-field-field-logo,
.view-patient-resources .views-field-field-logo-pt-resources {
  width: 200px;
  float: left; }
.view-health-care-providers .views-row,
.view-patient-resources .views-row {
  overflow: hidden; }
.view-health-care-providers .views-field-body,
.view-patient-resources .views-field-body {
  padding-top: 40px; }
.view-health-care-providers .views-field-title,
.view-patient-resources .views-field-title {
  color: #477f80; }

.view-patient-resources p {
  color: #477f80; }
.view-patient-resources .container {
  display: none; }
.view-patient-resources .views-field-body {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }
.view-patient-resources .view-content .container-outer {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 15px; }
  .view-patient-resources .view-content .container-outer > h3 {
    font-size: 2.5em !important; }

.views-field-body-1.hide {
  display: none; }

#block-views-responsive-calendar-block {
  display: none; }

@media screen and (max-width: 1060px) {
  #action-blocks #block-imageblock-1 .content a > span:before,
  #action-blocks #block-imageblock-2 .content a > span:before,
  #action-blocks #block-imageblock-3 .content a > span:before {
    background-size: 60px;
    margin-top: 10px; }
  #action-blocks #block-imageblock-2 .content a > span:before {
    padding-right: 8px; }
  #action-blocks .block-imageblock .block-body a > span {
    min-width: 240px; }
    #action-blocks .block-imageblock .block-body a > span:before {
      width: 67px; }
    #action-blocks .block-imageblock .block-body a > span span {
      font-size: 52px; }

  #block-menu-menu-footer-menu ul.menu {
    overflow: hidden; }
  #block-menu-menu-footer-menu li {
    float: left;
    display: block; }
  #block-menu-menu-footer-menu > .content li a {
    padding: 0px 6px; }

  #page-wrapper {
    overflow: hidden; }

  #block-views-program-services-block-1 .view-program-services .views-row a {
    padding: 0px 1px; }
  #block-views-program-services-block-1.menu-fixed .view-program-services .views-row a {
    padding: 0px 1px; }
    #block-views-program-services-block-1.menu-fixed .view-program-services .views-row a img {
      width: 50px;
      height: auto; }
  #block-views-program-services-block-1.menu-fixed .view-program-services .views-row-4 a img,
  #block-views-program-services-block-1.menu-fixed .view-program-services .views-row-1 a img {
    width: 40px;
    height: auto; } }
@media screen and (min-width: 991px) {
  #block-system-main-menu {
    display: block !important; } }
@media screen and (max-width: 990px) {
  #content .fullcalendar h2 {
    font-size: 2.1em; }

  #text-resize {
    top: auto;
    bottom: -50px; }

  #block-system-main-menu {
    display: none;
    position: absolute;
    background: #5a9a98;
    width: 100%;
    top: 149px;
    padding-left: 0px;
    z-index: 99; }
    #block-system-main-menu #menu-pr span {
      width: auto; }
    #block-system-main-menu .content > .menu > li:hover a:after {
      display: none; }
    #block-system-main-menu .content > .menu > li > a {
      padding: 20px 10px;
      font-size: 28px;
      margin-top: 0px; }
    #block-system-main-menu li {
      display: block;
      border-bottom: 1px solid #83b3b2; }
    #block-system-main-menu li.expanded:hover ul.menu {
      position: relative;
      display: none; }
    #block-system-main-menu li.expanded ul.menu {
      display: none;
      background: #5a9a98; }
      #block-system-main-menu li.expanded ul.menu li {
        border-bottom: 0px; }
      #block-system-main-menu li.expanded ul.menu li a {
        color: white;
        padding-left: 30px; }

  #action-blocks {
    height: auto; }
    #action-blocks .block-imageblock {
      height: 320px; }
      #action-blocks .block-imageblock .block-body a > span:before {
        background-size: 55px;
        height: 70px; }
    #action-blocks .block-imageblock {
      border-bottom: 2px solid white; }
    #action-blocks .block-imageblock .block-body a > span {
      min-width: 204px;
      padding: 20px 10px;
      font-size: 26px; }
      #action-blocks .block-imageblock .block-body a > span:before {
        width: 48px; }
      #action-blocks .block-imageblock .block-body a > span span {
        font-size: 42px; }
    #action-blocks #block-imageblock-2 .block-body a > span:before {
      padding-right: 8px;
      width: 60px; }

  #block-views-banner-block .views-field-body {
    max-width: 500px;
    padding: 50px 50px; }
  #block-views-banner-block .slick-prev {
    left: 5px; }
  #block-views-banner-block .slick-next {
    right: 5px; }

  #block-block-5 {
    display: block;
    background: url(../images/icons/menu-icon.png) no-repeat left;
    padding-left: 30px;
    margin: 20px 10px 20px;
    width: 100px; }
    #block-block-5 a {
      color: white; }
      #block-block-5 a:hover {
        text-decoration: none; }

  #search-block-form {
    top: 18px; }

  #header {
    background-position: calc(61% - 60px); }

  #logo a {
    display: block; }

  #header {
    background-position: calc(57% - 60px) 10px; }
    #header > div li a span {
      max-width: 100%; }
    #header #menu-pr .first-word,
    #header #menu-hpr .first-word {
      font-size: inherit; }

  #footer {
    background-position: calc(-1370px + 100px) 82px; }

  .webform-client-form-8, .webform-client-form {
    width: 65%; }
    .webform-client-form-8 input, .webform-client-form input {
      width: 200px; }

  #contact-details {
    padding-left: 20px; }

  .view-program-sub-category .view-content {
    text-align: center; }
  .view-program-sub-category .views-row {
    float: none;
    display: block;
    margin: 20px auto;
    max-width: 450px; }
    .view-program-sub-category .views-row:last-child {
      margin-right: auto; }

  #header > div li #program-services-mb {
    display: block; } }
@media screen and (max-width: 920px) {
  #services-nav {
    position: relative;
    right: auto;
    left: 10px;
    top: 0px; }
    #services-nav a {
      font-size: 18px; }
      #services-nav a.prev {
        background: url(../images/icons/left-arrow-orange.png) no-repeat left 15px; }
      #services-nav a.next {
        float: left;
        background: url(../images/icons/right-arrow-orange.png) no-repeat right 15px; }

  #block-system-main .view-program-services {
    max-width: 655px;
    margin: 0 auto; }

  .map iframe {
    pointer-events: none; } }
@media screen and (max-width: 767px) {
  #block-views-program-services-block-1 {
    display: none; }

  .view-our-partners .views-row {
    display: block; }

  #block-views-responsive-calendar-block {
    display: block; }
    #block-views-responsive-calendar-block .views-row {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px; }
      #block-views-responsive-calendar-block .views-row .views-field-title {
        font-size: 24px; }
    #block-views-responsive-calendar-block .pager li {
      background-color: transparent;
      margin: 0px; }
      #block-views-responsive-calendar-block .pager li a {
        font-size: 24px; }
    #block-views-responsive-calendar-block .pager li.date-prev a {
      background: url(../images/icons/left-arrow-orange.png) no-repeat;
      background-position: left center;
      padding-left: 20px; }
    #block-views-responsive-calendar-block .pager li.date-next a {
      background: url(../images/icons/right-arrow-orange.png) no-repeat;
      background-position: right center;
      padding-right: 20px; }

  .view-full-calendar {
    display: none; }

  #action-blocks {
    height: auto; }
    #action-blocks .backbg {
      height: 220px; }
    #action-blocks .block-imageblock {
      width: 100%;
      float: none;
      height: 220px; }
      #action-blocks .block-imageblock .block-body a {
        padding: 50px 0px; }
        #action-blocks .block-imageblock .block-body a > span {
          min-width: 240px; }
        #action-blocks .block-imageblock .block-body a > span span {
          font-size: 52px; }

  #contact-details {
    top: auto;
    padding-top: 30px;
    padding-left: 0px; }

  #location1 .inner-loc,
  #location2 .inner-loc,
  #location3 .inner-loc {
    width: 100%;
    float: none; }

  #map1, #map2, #map3 {
    width: 100%;
    margin: 15px 0px;
    float: none; }

  .webform-client-form-8, .webform-client-form {
    float: none;
    width: 100%; }

  td.fc-header-left, .fc-header-center, .fc-header-right {
    display: block;
    padding-bottom: 20px;
    float: none; }

  #content h1 {
    font-size: 3.8em; }

  #content .view-program-services .view-content {
    text-align: center; }
  #content .view-program-services .views-row {
    margin: 0px;
    margin-bottom: 20px; }

  #block-menu-menu-footer-menu {
    display: none; }

  #footer {
    background-position: calc(-1449px + 100px) -18px; }

  #ministry-logo {
    width: 300px; }
    #ministry-logo img {
      width: 100%; }

  #site-by {
    text-align: center; }

  .node-type-program-services h1 {
    text-align: left; } }
@media screen and (max-width: 660px) {
  .view-program-sub-category .views-row {
    margin: 20px auto;
    min-width: inherit;
    max-width: 300px; }
    .view-program-sub-category .views-row img {
      min-width: inherit; }
    .view-program-sub-category .views-row .field-content div > span {
      font-size: 48px;
      min-width: 200px; }

  #text-resize {
    right: 10px; }

  #search-block-form {
    margin-right: 34px; }
    #search-block-form input {
      width: 170px; }

  #site-by,
  #ministry-logo {
    padding: 5px 10px 0px; }

  #ministry-logo {
    margin-top: 32px; }

  #footer {
    padding: 20px 0px 30px; }

  #block-block-6 {
    width: 250px; }

  #header {
    background-position: calc(52%); }

  #search-block-form {
    top: 22px; }

  #logo a {
    text-align: center;
    padding-right: 20px;
    width: 260px;
    margin: 0 auto; }
    #logo a object {
      width: 100%; }

  #block-views-banner-block {
    height: 350px; }
    #block-views-banner-block .views-field-body {
      max-width: 216px;
      padding: 20px 40px; }
      #block-views-banner-block .views-field-body h2 {
        font-size: 1.8em; }
    #block-views-banner-block .views-field-field-image-banner,
    #block-views-banner-block .backbg,
    #block-views-banner-block .views-row {
      height: 350px; }
    #block-views-banner-block p {
      font-size: 1em; }

  #block-block-5 {
    margin: 20px 10px 20px; }

  .view-physicians .name-map,
  .view-physicians .phy-details, .view-accepting-new-patients .name-map,
  .view-accepting-new-patients .phy-details {
    float: none;
    width: 100%; } }
